* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background-color: #f5f7fa;
    color: #333
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
    color: #2c3e50;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration:underline ;
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #3498db;
}

.hero{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: white;
}

.hero h1{
    font-size: 40px;
}

.hero p{
    margin-top: 10px;
    font-size: 18px;
}

.card{
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.card h2{
    margin-bottom: 15px;
    color: #2c3e50;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skills span{
    background-color: #ecf0f1;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
}

.project {
    margin-bottom: 20px;
}

.project h3{
  color: #34495e;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 40px;
    color: #777;
}